.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .chatHistory {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    width: 75%; /* Adjust as needed */
    margin: auto; /* Center the chat history */
    border-radius: 5px; /* Rounded corners */
    background-color:  rgb(75, 121, 194); /* Light background */
  }
  
  .chatMessage {
    background-color: #e9ecef; /* Light grey bubble */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .messageActions {
    display: flex;
    justify-content: end;
  }
  
  .inputSection {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .inputSection textarea {
    flex-grow: 1;
    margin-right: 10px;
  }

  .inputSection .inputControls {
    width: 30%;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .modelDisplay {
    font-size: xx-small;
  }
  
  .messageSender {
    font-weight: bold;
    margin-bottom: 5px;
    /* Add more styling as needed */
  }

.chatem {
  color: #aaa;
  font-style: italic;
}

.sceneCardHeader {
  background-color: #69c;
}

.sceneCard {
  background-color: #8ae;
}

.sceneCardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}